*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    max-width: 1790px;
    margin: 0 auto;
}

/* ---------------header---------------- */

header{
    height: 110vh;
    background-color:#3b3ba0;
    margin: 10px 10px 0 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}


div.logo img{
    width: 120px;
}


ul.list-items{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #fff;
    list-style: none;
    align-items: center;
    font-size: 18px;

}

li.items.active{
    color: #9494b8;
    border-bottom: 1px solid #9494b8;
}

ul.list-items button{
    padding: 12px 20px;
    background-color: #9494b8;
    color: #fff;
    border: none;
    font-size: 15px;
   
}

@media only screen and (max-width:800px) {

    header{
        height: 180%;
    }

    
    ul.list-items{
        gap: 20px;
        font-size: 13px;
    } 

    div.logo img{
        width: 100px;
    }

    div.navbar{
        overflow-x: auto;
    }

    ul.list-items button{
        display: inline-block;
        padding: 10px 18px;
        background-color: #9494b8;
        color: #fff;
        border: none;
        font-size: 12px;
       
    }
}


/* -----------hero------------ */

div.hero{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

div.hero-left{
    margin-left: 30px;
}

div.hero-left h1{
    font-size: 55px;
    color: #fff;
}

div.hero-left p{
    font-size: 18px;
    line-height: 20px;
    margin-top: 50px;
    color: #d1d0d0;
}

img.hero-img{
    width: 600px;
}

@media only screen and (max-width:870px){
    div.hero{
        height: 80%;
        flex-direction: column-reverse;    
    }

    div.hero-left{
        margin-left: 0;
        text-align: center;
    }

    img.hero-img{
        width: 500px;
    }
}

/* -----------section------------ */

div.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}


div.info-left img{
    width: 580px;
}

div.right-info div.heading{
    margin-bottom: 50px;
}

div.right-info div.heading h3{
    font-size: 40px;
}

div.features{
    margin-left: 60px;
    margin-top: 50px;
    position: relative;
}

div.features h4{
    font-size: 25px;
    margin-bottom: 16px;
}

div.features p{
    font-size: 18px;
}

div.features img{
    position: absolute;
    width: 30px;
    left: -40px;
}

@media only screen and (max-width:870px){
    div.info{
        
        flex-direction: column;
        text-align: center;
        
    }

}

/* --------footer----------- */

footer{
    height: 70vh;
}

footer div.heading{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
}

div.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

div.card{
    border: none;
    height: 250px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #a8a8a8; 
    overflow: hidden;
}

div.icon {
    text-align: center;
    margin-top: 45px;
    
}

div.icon img{
    width: 70px;
}

div.card-info h5{
    font-size: 20px;
}

div.card-info p{
    margin-top: 10px;
}

div.card-info{
    text-align: center;
    margin-top: 30px;
    padding: 4px 10px;
    height: 100%;
}
div.card-info.active1{
    border-radius: 30px;
    color: #fff;
    background-color: blue;
}

@media only screen and (max-width:870px){
    footer{
        height: 100%;    
    }

    footer div.heading{
        font-size: 38px;
        margin-top: 80px; 
    }
}